process {
  executor = 'local'
}
docker.enabled = true
dag.enabled = true
dag.direction = 'LR'
dag.overwrite = true

params {
  q_score = 10
  percent_mutations = 0.015
  percent_mutations_clinical = 0.015
  medakaModel = 'r941_min_fast_g303'

  genomes {
    'cmv' {
        referenceBase = "${projectDir}/pipeline-references/cmv_merlin.fa"
        referenceGenbank = "${projectDir}/pipeline-references/cmv_merlin.gb"
        ampliconBed = "${projectDir}/pipeline-references/cmv_merlin.bed"
        snpeff_database = "${projectDir}/pipeline-references/data"
        snpeff_config = "${projectDir}/pipeline-references/snpEff.config"
        resistance_mutations_file = "${projectDir}/pipeline-references/CMV_resistance_mutations.csv"
        multibase_codon_file = "${projectDir}/pipeline-references/CMV_codonbases.csv"
      }
    'hbv' {
        referenceBase = "${projectDir}/pipeline-references/hbv"
        ampliconBed = "${projectDir}/pipeline-references/hbv"
        referenceGenbank = "${projectDir}/pipeline-references/hbv"
        snpeff_database = "${projectDir}/pipeline-references/data"
        snpeff_config = "${projectDir}/pipeline-references/snpEff.config"
        resistance_mutations_file = "${projectDir}/pipeline-references/HBV_resistance_mutations.csv"
        multibase_codon_file = "${projectDir}/pipeline-references/HBV_codonbases.csv"
        hbv_blast_database = "${projectDir}/pipeline-references/blast_db"
      }
  }
}



manifest {
    name            = 'ph-metagenomics'
    author          = """Venkat S. Malladi and Gordon Ritchie"""
    homePage        = ''
    description     = """Low-frequency variant calling for viral samples"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
    doi             = ''
}
